.side-ber
  .side-ber__header
    .side-ber__header__items
      %h3.side-ber__header__items__name
        = current_user.name
      %p.side-ber__header__items__icons
        =link_to edit_user_path(current_user) do
          = icon('fas', 'cog', class: 'side-ber__header__items__icons__style')
        =link_to new_group_path do
          = icon('far', 'edit', class: 'side-ber__header__items__icons__style')

  .side-ber__group-list
    - current_user.groups.each do |group|
      =link_to messages_path, class: "side-ber__group-list__link" do
        %p.side-ber__group-list__link__name
          = group.name
        %p.side-ber__group-list__link__message
          まだメッセージがありません