* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
}

.side-ber {
  height: 100vh;
  width: 300px;
  background-color: #253141;
  &__header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__items {
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__name {
        font-size: 16px;
        color: #ffffff;
        font-weight: bold;
        line-height: 20px;
      }
      &__icons {
        width: 60px;
        &__style {
          color: #ffffff;
          float: right;
          margin-left: 5px;
        }
      }
    }
  }
  &__group-list {
    background-color: #2f3e51;
    height: calc(100% - 100px);
    width: 100%;
    padding: 20px;
    * {
      box-sizing: border-box;
    }
    &__link {
      text-decoration: none;
      &__name {
        color: #ffffff;
        font-size: 15px;
        font-weight: bold;
      }
      &__message {
        color: #ffffff;
        font-size: 11px;
        font-weight: bold;
        padding: 5px 0 40px;
      }
    }
  }
}

.chat-main {
  background-color: #ffffff;
  height: 100vh;
  width: calc(100vw - 300px);
  &__header {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    &__left-item {
      margin-top: 35px;
      &__gruop-name {
        color: #333333;
        font-size: 20px;
      }
      &__member-list {
        list-style: none;
        padding-top: 15px;
        color: #999999;
        font-size: 12px;
        display: flex;
        &__user-name {
          padding-left: 5px;
        }
      }
    }
    &__btn-link {
      text-decoration: none;
      .edit-botton {
        height: 40px;
        width: 72px;
        margin-top: 28px;
        padding: 0 20px;
        color: #38aef0;
        font-size: 16px;
        border: 1px solid #38aef0;
        line-height: 40px;
      }
    }
  }
  &__message-list {
    background-color: #fafafa;
    height: calc(100% - 190px);
    width: 100%;
    padding: 35px 40px;
    &__items {
      padding-bottom: 46px;
      &__headder {
        list-style: none;
        padding-bottom: 12px;
        display: flex;
        &__user-name {
          color: #333333;
          font-size: 16px;
          font-weight: bold;
        }
        &__time-stamp {
          color: #999999;
          font-size: 12px;
          padding-left: 10px;
        }
      }
      &__messages {
        color: #434a54;
        font-size: 14px;
        padding-bottom: 10px;
      }
    }
  }
  &__message-form {
    background-color: #d2d2d2;
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    &__block {
      position: relative;
      background-color: #ffffff;
      height: 50px;
      width: calc(100vw - 195px);
      line-height: 50px;
      &__text-area {
        width: 100%;
        line-height: 50px;
        border-style: none;
        outline: none;
        padding: 0 40px 0 10px;
      }
      &__file-label {
        position: absolute;
        right: 10px;
        &__icon-style {
          font-size: 30px;
          color: black;
        }
        &__btn-input {
          display: none;
        }
      }
    }
    &__btn-link {
      text-decoration: none;
      &__submit-btn {
        background-color: #38aef0;
        color: #ffffff;
        height: 50px;
        width: 100px;
        line-height: 50px;
        text-align: center;
        margin-left: 15px;
      }
    }
  }
}